<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Our goal is: <%= message %></p>
    <p>Lives of our masters: <%= livesOfCats %></p>
    <br>
    <p>Can you guess who are our new lords?! Exactly: <%= overLords %>!</p>
  </body>
</html>